@use "../utils/_main" as main;


.picFrame_wrapper {
  position: relative;
}

.picFrame__bottom {
  width: 15em;
  height: 15em;
  border-top: 3.5em solid gray;
  border-left: 3.5em solid gray;
  transform: rotate(225deg);
  position: absolute;
  top: 45px;
  left: 3px;
  z-index: 999;
}

.picFrame__top {
  width: 15em;
  height: 15em;
  border-top: 2em solid gray;
  border-left: 2em solid gray;
  transform: rotate(45deg);
  position: absolute;
  top: 45px;
  left: 3px;
  z-index: 0;
  opacity: .8;
}

img {
  width: 200px;
  height: auto;
  margin-left: 1.5em;
  z-index: 55;
  position: relative;
}