@use "../utils/_main" as main;



.picFrame_wrapper {
  position: relative;
}

.picFrame__bottom {
  width: 15em;
  height: 15em;
  border-top: 3.5em solid hsla(0, 0%, 22%, 1);
  border-left: 3.5em solid hsla(0, 0%, 22%, 1);
  transform: rotate(225deg);
  position: absolute;
  top: 45px;
  left: 3px;
  z-index: 999;
  
}

.picFrame__top {
  width: 15em;
  height: 15em;
  border-top: 2em solid hsla(0, 0%, 30%, 1);
  border-left: 2em solid hsla(0, 0%, 30%, 1);
  transform: rotate(45deg);
  position: absolute;
  top: 45px;
  left: 3px;
  z-index: 0;
  opacity: .8;
  box-shadow: .4em .4em 1em black;
}

img {
  width: 200px;
  height: auto;
  margin-left: 1.5em;
  z-index: 55;
  position: relative;
  /* filter: grayscale(100%); */
}