@use "../utils/main" as main;

.education {
  @include main.section(main.$mainColor, column);
  position: relative;
  font-family: main.$mainFont;
  align-items: center;
  text-align: justify;
  padding: 3em;

  h2 {
    color: main.$textColorGray;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 2.2em;
  }

  ul {
    background-color: main.$appColor;
    padding: 1em;
    border-radius: .5em;
  }

  li {
    margin-bottom: 2em;
    background-color: rgba(35, 35, 35, 0.4);
    border-radius: .5em;
    padding: 1em;
    color: main.$colorWhite;

    h3, p {
      margin-bottom: 1em;
    }

    p {
      margin-top: .7em;
    }
  }
}