@use "../utils/main" as main;

header {
  width: 100vw;
  height: 15vh;
  background-color: main.$mainColorOne;
  color: main.$colorWhite;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;

  .logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 3em;
    left: 2em;
    width: 24em;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    img {
      width: 3em;
      height: 3em;
    }

    h2 {
      text-transform: uppercase;
      color: main.$cardBody;
      font-family: main.$mainFont;
    }
  }

  nav {
    margin-bottom: 2em;
    margin-right: 2em;
  }
  
  ul {
    display: flex;
    gap: 2em;
    justify-content: end;
    font-family: main.$mainFont;
  }
}