@use "../utils/main" as main;

.projects {
  @include main.section(main.$mainColorFive, column);
  position: relative;
  font-family: main.$mainFont;
  align-items: center;
  text-align: center;
  padding-top: 3em;
  overflow: scroll;

  h2 {
    color: main.$colorWhite;
  }

  iframe {
    width: 60em;
    height: 40em;
  }
}