@use "../utils/main" as main;

.projects {
  position: relative;
  font-family: main.$mainFont;
  text-align: center;
  overflow: scroll;
  padding: 2em 2em;
  background-color: main.$mainColor;

  h2 {
    color: main.$textColorGray;
    margin-bottom: 2em;
    font-size: 4em;
    text-transform: uppercase;
  }
}

.cardsWrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.cardProj {
  border: 1px solid rgb(75, 75, 75);
  width: 27em;
  height: 27em;
  margin-bottom: 3em;
  border-radius: 1em;
}
.cardTop {
  width: 27em;
  height: 15em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-size: contain;
}

.cardBody {
  padding-top: 3em;
  background-color: main.$cardBody;
  height: 12em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  text-transform: uppercase;


  a {
    text-transform: none;
    color: main.$mainColorFour;
  }
}

.cardOne {
  background-image: url(../../media/Screenshot\ from\ 2023-11-05\ 02-34-39.png);
}

.cardTwo {
  background-image: url(../../media/Screenshot\ from\ 2023-11-05\ 04-01-43.png);
}

.cardThree {
  background-image: url(../../media/Screenshot\ from\ 2023-11-05\ 02-35-11.png);
}

.cardFour {
  background-image: url(../../media/Screenshot\ from\ 2023-11-05\ 04-00-46.png);
}