@use "../utils/main" as main;

.section_one {
  @include main.section(main.$mainColor, column);
  position: relative;
  font-family: main.$mainFont;
  align-items: center;
  text-align: center;
  padding-top: 3em;

  h1 {
    margin-top: 2em;
    color: main.$textColorGray;
    text-shadow: main.$textColorGray 2px 2px 21px;
    font-size: 4em;
    text-transform: uppercase;
  }

  p {
    margin-left: 2em;
    margin-right: 2em;
    color: main.$textColorGray;
  }
}