@use "../utils/main" as main;

.section_one {
  @include main.section(main.$mainColor, column);
  height: 100vh;
  position: relative;
  font-family: main.$mainFont;
  align-items: center;
  text-align: center;
  padding-top: 3em;

  h1 {
    margin-top: 2em;
    color: main.$textColorGray;
    font-size: 4em;
    text-transform: uppercase;
  }

  .presCont {
    padding: 2em 7em 0 7em;
    
    p {
      margin-left: 2em;
      margin-right: 2em;
      color: main.$textColorGray;
      text-align: justify;
    }

  }

}