@use "../utils/main" as main;

.work_exp {
  @include main.section(main.$mainColor, column);
  font-family: main.$mainFont;
  padding: 3em;
  overflow: hidden;
  align-items: center;

  h2 {
    color: main.$darkGrey;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  ul {
    background-color: hsla(0, 0%, 40%, .9);
    padding: 1em;
    border-radius: .5em;
    margin: 0 3em 0 3em;
  }

  li {
    margin-bottom: 2em;
    background-color: hsla(0, 0%, 13%, .9);
    border-radius: .5em;
    padding: 1em;
    color: main.$colorWhite;
    width: 45em;

    h3, p {
      margin-bottom: .5em;
    }

    p {
      margin-top: .2em;
    }

    .workDescriptionNone {
      display: none;

      .close_workDescription {
        margin: 0 50%;
        transform: translateX(-50%);
      }
    }
  }
  
  svg:hover {
    cursor: pointer;
  }

  .svgShow {
    display: none;
  }
}
