$mainColorOne: #4b4b4b;
$mainColorTwo: #B1DDF1;
$mainColorThree: #9F87AF;
$mainColorFour: #88527F;
$mainColorFive: #614344;
$mainColor: #FFF8F0;
$colorWhite: #fff;
$colorBlack: #000;
$appColor: rgba(0, 0, 0, 0.60);
$appColorDark: rgba(0, 0, 0, 0.20);
$textColorGray: rgb(87, 87, 87);
$cardBody: hsl(0, 0%, 70%);
$darkGrey: hsla(0, 0%, 22%, 1);
$newLightGrey: hsla(0, 0%, 40%, .9);
$newDarkGrey: hsla(0, 0%, 13%, .9);
